html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #f8f3db;
  font-family: 'Helvetica Neue', arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/* XS */
@media screen and (min-width: 0px) {
  html {
    font-size: 13px;
  }
}
/* SM */
@media screen and (min-width: 600px) {
  html {
    font-size: 14px;
  }
}
/* MD */
@media screen and (min-width: 960px) {
  html {
    font-size: 15px;
  }
}
/* LG */
@media screen and (min-width: 1280px) {
  html {
    font-size: 17px;
  }
}
/* XL */
@media screen and (min-width: 1920px) {
  html {
    font-size: 19px;
  }
}
